<div id="addLocationsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Location</h4>
            </div>
            <div class="modal-body">
                <div id="addLocationsErrorDiv" 
                    class='alert alert-danger hidden'>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    &nbsp;
                    <span id="addLocationsErrorMessage"></span>
                </div>

                <!-- Begin form -->
                <form name="addLocationsForm" role="form">
                    <div class="form-group has-feedback">
                        <label for="location">Location:</label>
                        <textarea class="form-control" rows="5"
                            id="locationsLocation" 
                            ng-model="$parent.addLocationsForm.location"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <img id="addLocationLoaderGif" src="/images/ajax-loader.gif"
                    class="hidden"/>
                <button type="button" class="btn btn-default"
                    data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"
                    ng-click="addLocation()">Add location</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div id="content-title" class="panel-heading">
	    Locations
	    <button class="btn btn-success btn-xs pull-right" 
	            ng-click="showAddLocationModal()">
	        Create a new location
	    </button>
    </div>
    <div class="panel-body">    
	    <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered">
                <tr>
                    <td class="lead">ID</td>
                    <td class="lead">Location</td>
                    <td class="lead"></td>
                </tr>
                <tr ng-repeat="location in locations">
                    <td>{{ location.id }}</td>
                    <td>{{ location.location }}</td>
                    <td>
                        <button type="button" class="btn btn-danger"
                                ng-click="deleteLocation(location.id)">
                            Delete
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


