<div class="panel panel-default">
    <div id="content-title" class="panel-heading">
	    Locations
	    <button class="btn btn-success btn-xs pull-right" 
	            ng-click="showAddLocationModal()">
	        Create a new location
	    </button>
    </div>
    <div class="panel-body">    
	    <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered">
                <tr>
                    <td class="lead">ID</td>
                    <td class="lead">Location</td>
                    <td class="lead"></td>
                </tr>
                <tr ng-repeat="location in locations">
                    <td>{{ location.id }}</td>
                    <td>{{ location.location }}</td>
                    <td>
                        <button type="button" class="btn btn-danger"
                                ng-click="deleteLocation(location.id)">
                            Delete
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


